/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at 84.2% -9.23%, #e695ff 0, #ba81fc 25%, #8f6cd8 50%, #6757b3 75%, #444391 100%);
  
}

.container {
  position: relative;
  max-width: 330px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: rgba(45, 42, 55, 1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
  height: 99px;
  width: 95%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
  background: transparent;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {

  width: 60px;
  height: 60px;
  border-radius: 999px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background: linear-gradient(0deg, #2D2A37, #45414e),
  linear-gradient(180deg, rgba(145, 141, 141, 0.05) 0%, rgba(138, 128, 128, 0.05) 100%);
  
  
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #2f9fff;
}